include partials/header
	form(method="POST", action="/user/")
		h4 Add new user:
		div(class="panel panel-default")
			div(class="panel-body form-horizontal payment-form")

				div(class="form-group")
					label(for="username", class="col-sm-3 control-label") Username 
					div(class="col-sm-9")
						input(type="text", class="form-control", id="username", name="username", value="=info[0].username" required)

				div(class="form-group")
					label(for="email", class="col-sm-3 control-label") Email
					div(class="col-sm-9")
						input(type="text", class="form-control", id="email", name="email", value="=info[0]", required)

				div(class="form-group")
					label(for="password", class="col-sm-3 control-label") Password
					div(class="col-sm-9")
						input(type="password", class="form-control", id="password", name="password", value="=info[0].password", required)

				input(type="hidden", name="_method", value="PUT")
				input(type="hidden", name="id", value="=info[0].id")
				div(class="form-group")
					div(class="col-sm-12 text-right")
						button(type="submit", class="btn btn-primary preview-edit-button")
							span(class="glyphicon glyphicon-edit") Update
include partials/footer
